.nicabm_program-template,
.nicabm_offer-template {
	.site-inner {
		margin-top: 0;
		max-width: none;
		padding: 0;

		a:not(.button) {
			color: $blue-2;
			text-decoration: underline;
		}

		a:hover,
		a:focus {
			color: $red;
			text-decoration: none;
		}
	}

	.content img {
		border-radius: 5%;
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.button {
		border-radius: 0.3rem;
		font-size: 2.2rem;
		margin: 2rem 0;
		padding: 2rem 7rem;
	}
}

.sales-page__section {
	background-size: cover;
	background-position: center center;

	&--padding {
		&-normal {
			padding-top: 7rem;
			padding-bottom: 7rem;
		}
		&-less {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
		&-more {
			padding-top: 10rem;
			padding-bottom: 10rem;
		}
	}

	&--image-spacer {
		background-attachment: fixed;
		height: 300px;
	}
}

.row {
	&__content {
		&--padding {
			&-normal {
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
			}
			&-less {
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
			}
			&-more {
				padding-top: 4rem;
				padding-bottom: 4rem;
			}
			&-none {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
}

.nicabm-instructors {

	&--scroll {
		max-height: 430px;
		overflow-y: scroll;
	}

	&__single {
		margin-bottom: 2rem;
	}

	&__profile {
		margin-bottom: 1.2rem;
	}

	&__name {
		font-family: $heading-b;
		font-size: 1.5rem;
		font-weight: 700;
		letter-spacing: 0.2rem;
		line-height: 1.35;
		margin: 0 0 0.3rem 0;
		text-transform: uppercase;
	}

	&__bio {
		font-size: 1.5rem;
		line-height: 1.45;
	}
}

.nicabm-testimonials {
	margin-bottom: 3rem;
}

.nicabm-table {
	&__row {
		&:nth-child(odd) {
			background-color: #F0F0F0;
		}

		&:nth-child(even) {
			background-color: #e0e0e0;
		}

		td {
			border: 4px solid #ffffff;
			font-size: 2.2rem;
			height: 90px;
			padding: 1rem;
		}
	}

	&__mark {
		display: none;
		width: 8.5rem;

		@include breakpoint($screen--s) {
			display: table-cell;

			img {
				display: block;
				margin: 0 auto;
				width: 40%;
			}
		}
	}
}

.learn-today-use-tomorrow {

	&__subheading {
		margin-bottom: 5rem;
	}

	&__text-block {
		font-size: 2.7rem;
		line-height: 1.45;
		margin: 4rem auto;
		text-align: center;
	}

	&__image {
		@include breakpoint('xs') {
			width: 95%;

			&--right {
				float: right;
			}

			&--left {
				float: left;
			}
		}
	}
}

.course-row {
	margin-bottom: 45px;
}
